<div class="container">
  <h1>This is my amazing app</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, sequi voluptatum neque suscipit sit nesciunt, tempore fuga autem voluptas deserunt? Expedita amet deserunt ad, accusamus architecto animi, illum sunt voluptate.</p>

  <%= link_to "Create user profile", "#", class: "btn btn-danger" %>

</div>
